---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aktuelles">
    <div class="prose">
        <h2>Aktuelles</h2>
        <div class="bg-gray-50 rounded px-6 py-4">
            <small class="text-right font-normal text-xs block">27. Februar 2023</small>
            <h3 class="mt-3">
                Infotag mit Dr. Pottek
            </h3>
            <p>
                Am <span class="font-bold">30. Juni</span> findet wieder ein Infotag mit Dr. med. Tobias Pottek vom
                Vivantes Klinikum Berlin statt.
                Das Infotreffen startet um <span class="font-bold">17 Uhr</span> im Hofcafé im Brückenhof, Neue Straße
                7, 25335 Elmshorn.
                Es können Fragen zum Thema Geschlechtsangleichende Operationen, aber auch allgemeine Fragen im Bereich
                Urologie gestellt werden.
            </p>
        </div>
    </div>
</Layout>
