---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Glossar">
    <div class="prose">

        <h2>Begriffe</h2>
        <h3>Sozial</h3>
        ...todo
        <h3>Medizinisch</h3>
        ...todo
        <h3>Rechtlich</h3>
        ...todo
    </div>
</Layout>
