---
import Layout from '../layouts/Layout.astro'

import { nextGroupDate } from '../utils/date.ts'
import Calendar from '../components/calendar.svelte'
---

<Layout title="Trans Hilfe Elmshorn">
    <div class="prose max-w-none">
        <p>
            Die Trans Hilfe Elmshorn ist eine Selbsthilfegruppe für alle,
            die trans sind, vermuten, dass sie trans sein könnten oder Zweifel an
            ihrem bei der Geburt zugewiesenen Geschlecht haben.
            <br/>
            <br/>
            Wir tauschen Erfahrungen aus und bieten Informationen, Beratung und ein offenes Ohr
            zu allen Themen rund um die soziale, rechtliche und medizinische Transition,
            ganz egal ob weiblich, männlich oder nicht-binär.
            <br />
            <br />
        </p>

        <h2>Wann und wo?</h2>
        <p>Wir treffen uns jeden 3. Dienstag im Monat um 18 Uhr. Wer möchte, kann auch später dazukommen. Das nächste Treffen ist <span class="squiggle active">{nextGroupDate()}</span>.</p>

        <Calendar client:load />

    </div>
</Layout>

<style is:global>
    .calendar-view-item.selected {
        @apply bg-pink !important
    }
    .calendar-view-item.out-of-range {
        @apply text-gray-300 !important
    }
</style>