---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Kontakt">
    <div class="prose">
    <h2>Schreib' uns</h2>
        <p>
        Wenn du Fragen zu unseren Treffen oder zum Thema trans* hast, oder du einfach deine Sorgen
        mit jemandem besprechen möchtest, schreib' uns eine Mail an
        <br/>
        <a href="mailto:hilfe@trans-hilfe-elmshorn.de">hilfe@trans-hilfe-elmshorn.de</a> oder ruf' uns an unter <a href="tel:+491636186984">0163 618 69 84</a>

        </p>
        <p>
        Falls du Fragen zu speziellen Themen hast, oder gerne mit jemandem sprechen möchtest, der*die
        das gleiche Geschlecht und damit vergleichbare Erfahrungen gemacht hat, kannst du uns auch direkt schreiben:
        </p>

        <a href="mailto:daniel@trans-hilfe-elmshorn.de">Daniel</a> für trans* Männer<br/>
        <a href="mailto:freeya@trans-hilfe-elmshorn.de">Freeya</a> oder <a href="mailto:nike@trans-hilfe-elmshorn.de">Nike</a> für trans* Frauen<br/>
        <a href="mailto:nike@trans-hilfe-elmshorn.de">Nike</a> für nicht-binäre Personen

        <h2>Wer wir sind</h2>
        <p>
        Die Idee zur Selbsthilfegruppe ist im Jahr
2016 entstanden. Zu der Zeit war es sehr
schwierig auf dem platten Land Hilfe,
Unterstützung und Beratung zu diesem
Thema zu bekommen.<br /><br />
Daher hat sich Michaela entschlossen,
selbst eine Gruppe zu gründen und hat am
19.09.2017 die Trans Hilfe Elmshorn ins
Leben gerufen. Kurz darauf kam Freeya
dazu, erst als Hilfe suchende, später als
beratende Person.<br /><br />
Mittlerweile haben wir mit Daniel,
Michaela, Freeya und Nike vier Personen in
unterschiedlichen Phasen ihrer Transition
und verschiedenen Geschlechts. Damit
können wir dir in fast allen Bereichen
ausreichend Hilfestellung geben.
        </p>
    </div>
</Layout>
