---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontakt">
  <div class="prose">
    <h2>Schreib' uns</h2>
    <p>
      Wenn du Fragen zu unseren Treffen oder zum Thema trans* hast, oder du
      einfach deine Sorgen mit jemandem besprechen möchtest, schreib' uns eine
      Mail an
      <br />
      <a href="mailto:hilfe@trans-hilfe-elmshorn.de"
        >hilfe@trans-hilfe-elmshorn.de</a
      >.
    </p>
    <p>
      Falls du Fragen zu speziellen Themen hast, oder gerne mit jemandem
      sprechen möchtest, der*die das gleiche Geschlecht und damit vergleichbare
      Erfahrungen gemacht hat, kannst du uns auch direkt schreiben:
    </p>

    <a href="mailto:samuel@trans-hilfe-elmshorn.de">Samuel</a> für trans* Männer<br
    />
    <a href="mailto:amy@trans-hilfe-elmshorn.de">Amy</a> für trans* Frauen<br />
    <a href="mailto:freeya@trans-hilfe-elmshorn.de">Freeya</a> für nicht-binäre Personen

    <h2>Wer wir sind</h2>
    <p>
      Wir sind eine Gemeinschaft von Menschen, die den oft herausfordernden Weg
      der geschlechtlichen Selbstfindung selbst gegangen sind und noch gehen.
      Aus eigener Erfahrung wissen wir, wie desorientiert man auf dieser Reise
      sein kann – die Fragen, Zweifel und manchmal auch die Einsamkeit. In
      unserem geschützten Raum teilen wir Erfahrungen, bieten gegenseitige
      Unterstützung und praktische Hilfe. Hier findest du Verständnis ohne
      Erklärungsnot und Menschen, die deine Sprache sprechen. Gemeinsam finden
      wir Orientierung, wenn der Weg unklar erscheint.
    </p>
  </div>
</Layout>
