---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Trans sein">
    <div class="prose">
        <h2>Was bedeutet trans?</h2>

        <p>
            Allen Menschen wird bei der Geburt
            ein Geschlecht zugewiesen.
            Bei trans* Menschen stimmt die
            Selbstwahrnehmung nicht oder nur
            teilweise mit dieser Fremdzuweisung
            überein.<br/><br/>
            Es existieren viele verschiedene Begriffe,
            diese Inkongruenz zu beschreiben:
            Transgeschlechtlichkeit, Transgender,
            Transsexualität, Transidentität, etc. Diese
            unterschiedlichen Begriffe fassen wir mit
            dem Wort trans* zusammen, einerseits
            um alle mit einzuschließen, andererseits
            um es sprachlich zu vereinfachen.
        </p>

        <h2>Bin ich trans?</h2>

        <p>
            Diese Frage kann niemand für dich beantworten.
            Niemand kann dir vorschreiben, welches Geschlecht du hast, auch nicht die Ärzt*in oder Hebamme, die dir
            bei der Geburt ein Geschlecht zugewiesen hat.
            Du allein kannst wissen, ob du cis oder trans* bist.
            <br/>
            Sich mit anderen trans* Personen auszutauschen kann helfen, Erfahrungen und Gefühle auszutauschen, um sich
            klarer über das Geschlechtsempfinden anderer und damit auch über das eigene zu werden.
            <br/>
            Wenn du das Gefühl hast,
            du könntest trans* sein und brauchst Hilfe dabei, herauszufinden, ob das stimmt, dann können wir dir dabei
            helfen,
            ob in einem Gruppentreffen oder Einzelgespräch.

        <h2>Für Eltern & Angehörige</h2>
        <p>
            Das Geschlechtsempfinden entwickelt sich schon in früher Kindheit, vor allem durch im Umfeld existierende
            und vorgelebte
            soziale Normen. Um dem Kind eine möglichst selbstbestimme Entwicklung zu ermöglichen, sollten Erziehende
            also darauf achten, keine Erwartungen an das Verhalten des Kindes bezüglich ihres Geschlechts zu stellen,
            die auf
            der Zuweisung des Geschlechts bei der Geburt basieren. Einem trans* Kind das freie Ausleben von Geschlecht
            zu verwehren und
            mit Zurückweisung und Beschämung zu reagieren, kann schwere psychische Folgen für das Kind haben.
            <br/><br/>
            Sich als Erziehende völlig frei von diesen Erwartungen zu machen kann schwierig sein, denn diese sind fest
            in uns verankert.
            Man sollte jedoch versuchen, dem Kind mit Empathie zu begegnen und ihm zu glauben, wenn es einem sagt, dass
            es sich wie ein
            anderes Geschlecht fühlt, als man es bisher von ihm dachte.
            <br/><br/>
            Geschlechtliche Normen, wie bestimmtes Spielzeug, Farben, Kleidung, Makeup oder Verhaltensweisen sind
            schädlich. Höre deinem
            Kind zu und lass es mit all diesen Dingen experimentieren, damit es sich frei entfalten kann.

        </p>
    </div>
</Layout>
